<div style="margin: 3em;">
<% @api.each do |attendance| %>
  <p><%= attendance %></p>
<% end %>
</div>

<div>
  <p><%= @attendance.worked_on %></p>
  <p><%= @attendance.started_at %></p>
  <p><%= @attendance.finished_at %></p>
</div>